{
	"version": 1.0,
	"project" : "satyam-${branch}",
	"team": "/CxServer",
	"sast": {
		"preset": "High and Medium",
		"engineConfiguration": "Default Configuration",
	},
	"additionalProperties": {
		"cxFlow": {
			"application": "Simply Vulnerable React",
			"jira": {
				"project": "SV"
			}
		}
	},
	"sca" : {
	  "team": "/CxServer/satyamchaurasiapersistent"
	}
}